model/*
online/*
offline/*
plots_server/*
cron/cron_log/*
test/sanity_check_log/*
test/pd/pd_log/*
test/unit-test-backend-8-gpu-CAR-amd/*

*.jsonl
*.csv
*.html
*.png
*.md
tmp_output_srt.txt
compare_pr/comparison_results/*
comparison_results/*
build_docker_log/*

*/__pycache__/*
__pycache__/*
logs/*
