model/*
online/*
offline/*
plots_server/*
cron/cron_log/*
test/*.sh
test/*/*

*.jsonl
*.csv
*.html
*.png
*.md
tmp_output_srt.txt
compare_pr/comparison_results/*
comparison_results/*
build_docker_log/*

*/__pycache__/*
__pycache__/*
logs/*
